@use "./partials/variables";
@use "./partials/mixins";

html,
body {
  box-sizing: border-box;
  font-family: variables.$primary-font;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Header section
.header {
  position: fixed;
  top: 0;
  width: 100%;
  @include mixins.flexed(space-between);
  background-color: variables.$white;

  &__logo {
    @include mixins.title(variables.$primary-color);
    text-decoration: none;
    padding-left: 2rem;
  }

  &__nav {
    width: 40%;
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  &__menu-item-link {
    text-decoration: none;
    color: variables.$primary-color;
    padding-bottom: 0.3rem;

    &--active {
      border-bottom: 0.2rem solid variables.$secondary-color;
    }
  }
}

// Card
.card {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 30rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);

  &__recommendation-link {
    @include mixins.title(variables.$white);
    text-decoration: none;
  }

  &__background {
    @include mixins.flexed(flex-end, flex-end);
    padding-right: 2rem;

    &--hawaii {
      background-image: url(../assets/images/hawaii.jpg);
    }

    &--iceland {
      background-image: url(../assets/images/iceland.jpg);
    }

    &--greece {
      background-image: url(../assets/images/greece.jpg);
    }
  }
}

// Footer section
.footer {
  @include mixins.flexed(space-around, flex-start);
  background-color: variables.$background-color;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    @include mixins.title(variables.$primary-color);
  }

  &__subtitle {
    color: variables.$secondary-color;
    font-size: 0.75rem;
    font-weight: 500;

    &--email {
      padding-top: 0.8rem;
    }
  }

  &__text {
    color: variables.$primary-color;
  }

  &__hours-container {
    @include mixins.flexed(space-around, flex-start);
    gap: 4rem;
  }

  &__social {
    width: 10rem;
  }
}

// Icon
.icon {
  width: 2rem;

  &__container {
    @include mixins.flexed(space-between, flex-end);
    padding-top: 1rem;
  }
  &__facebook {
    width: 1rem;
    height: 2rem;
  }
}
